body {
  background-color: #000040;
  color: aliceblue;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}
.thumb img {
  object-fit: contain;
  height: 450px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

div.formdiv {
  display: flex;

  align-items: center;
  justify-content: space-around;

  background-color: white;  
  margin: initial;

  border: 25px solid white;
  border-radius: 25px;
}

label {
  display: none;
  position: absolute;
}
br {
  display: none;
  position: absolute;
}

input {
  color: black;
}

div.buttons {
  background-color: white;
  margin: 0 0 0 20px;

  border: 15px solid white;
  border-radius: 25px;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: inherit;
}

.messages {
  position: absolute;
  z-index: 4;
}

footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 100px 0 0 0;
  height: 15vh;
  background-color: white;
}
