body {
  background-color: #000040;
  color: aliceblue;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
}
.thumb img {
  object-fit: contain;
  height: 450px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

div.formdiv {
  display: flex;

  align-items: center;
  justify-content: space-around;

  background-color: white;  
  margin: initial;

  border: 25px solid white;
  border-radius: 25px;
}

label {
  display: none;
  position: absolute;
}
br {
  display: none;
  position: absolute;
}

input {
  color: black;
}

.btn-send {
  background-color: white;
  margin: 0 0 0 20px;

  border: 15px solid white;
  border-radius: 50px 0px 50px 50px;
  width: 90px;
  height: 75px;
}

.buttons button {
  background-color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: inherit;
}

.messages {
  position: absolute;
  z-index: 4;
}

.information {
  display: flex;
  margin-top: 3%;
  margin-bottom: 7%;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.bg-light-grey{
  text-align: justify;
  background: grey;
  width: 100%;
  padding: clamp(40px, 1vw, 80px);
  border-radius: 25px;
  margin: 15px;
}

.bg-light-grey h1{
  text-align: center;
  color: black;
  font-family: fantasy;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  padding: clamp(40px, 1vw, 80px);
  width: 100%;
  height: 70px;
  margin: 20px 0px;
  text-align: justify;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
}
