{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/logo-lasi.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  <title>LASI - Liga Acadêmica de Sistemas Inteligentes</title>
</head>
<body>
  <div class="container">


    
    <div class="thumb">
      <img src="{% static 'images/CapaLasi.jpeg' %}" alt="Capa LASI">
    </div> 

    <form action="{%url 'index' %}" method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="formdiv">
      </div>
      <div>
        <button class="btn-send" type="submit">Enviar Imagem</button>
      </div>
    </form>

    <div class="messages">
    </div>

    <div class="information">
      <div class="bg-light-grey who">
        <h1>Quem somos?</h1>
      </div>
      <div class="bg-light-grey about">
        <h1>Sobre o Projeto</h1>
      </div>
    </div>

    <footer class="footer">
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/instagram.svg' %}" alt="" width="50px" height="50px">
      </a>
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/youtube.svg' %}" alt="" width="50px" height="50px">
      </a>
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/linkedin.svg' %}" alt="" width="50px" height="50px">
      </a>
    </footer>
  </div>
</body>
</html>