{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/logo-lasi.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  <title>LASI - Liga Acadêmica de Sistemas Inteligentes</title>
</head>
<body>
  <div class="container">


    
    <div class="thumb">
      <img src="{% static 'images/CapaLasi.jpeg' %}" alt="Capa LASI">
    </div> 
    <form action="{%url 'index' %}" method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="formdiv">
        {% bootstrap_form form %}
      </div>
      <div class="buttons">
        {% buttons %}
        <button type="submit" class="btn btn-primary">Enviar Imagem</button>
        {% endbuttons %}
      </div>
    </form>
    <div class="messages">
      {% bootstrap_messages %}
    </div>
    <section class="information">
      <div class="who">
        <h1>Quem somos?</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nam aperiam beatae! Dolor assumenda temporibus eos! Aliquid eius necessitatibus, at magnam soluta, explicabo fugiat quae quos ex, dolores doloribus iste?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium quaerat, optio dolore deserunt doloribus quos tempora autem debitis sint quas, molestias nostrum unde adipisci quidem non eos consectetur sunt! Laborum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nihil reiciendis ullam neque labore dolorum a veritatis voluptate? Aliquam quod eveniet, mollitia at illo culpa voluptate dolorum ipsa vitae sit.</p>
      </div>
      <div class="about">
        <h1>Sobre o Projeto</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nam aperiam beatae! Dolor assumenda temporibus eos! Aliquid eius necessitatibus, at magnam soluta, explicabo fugiat quae quos ex, dolores doloribus iste?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium quaerat, optio dolore deserunt doloribus quos tempora autem debitis sint quas, molestias nostrum unde adipisci quidem non eos consectetur sunt! Laborum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nihil reiciendis ullam neque labore dolorum a veritatis voluptate? Aliquam quod eveniet, mollitia at illo culpa voluptate dolorum ipsa vitae sit.</p>
      </div>
    </section>
    <footer>
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/instagram.svg' %}" alt="" width="50px" height="50px">
      </a>
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/youtube.svg' %}" alt="" width="50px" height="50px">
      </a>
      <a href="https://www.instagram.com/lasi.ufpi" target="_blank">
        <img src="{% static 'images/linkedin.svg' %}" alt="" width="50px" height="50px">
      </a>
    </footer>
  </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>